<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clerkPublishableKey</key>
	<string>pk_live_REPLACE_WITH_YOUR_CLERK_PUBLISHABLE_KEY</string>
	<key>cloudURL</key>
	<string>https://api.hypurr.dev</string>
</dict>
</plist>
